.text-responsive{
    font-size: calc(100%+ 1vw+ 1vh);
}

h1 p{ 
    border-bottom: 2px solid blue;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
    border-width: 0.2em;
    box-sizing: border-box;
    text-align: center;
    letter-spacing:1rem;
}


#name{
    background-color: cadetblue;
    letter-spacing: 0.2em;
    height: fit-content;
    
}

input[type='text']{
    text-align: center; 
}

#age_group{
    font-size:1.3rem;
}

p button{
    text-align:center;
    color:cyan;
    background: blue;
    border:2px solid;
    margin-left:45%;
    padding: 0.5em 1em;
    transition: all 0.25s;
    
} 

button:hover{
    border-color:greenyellow;
    background-color:green;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
}

